---
import AstroCarousel from "../components/AstroCarousel.astro";
---

<AstroCarousel 
  width="100%" 
  height="100%"
  showArrows
  showDots
  animationType="slide"
  animationTimingFunction="linear"
  transitionTime={500}
  infiniteLoop
  useKeyboardArrows
  client:load
  >
  <li>
    <img src="/test1.png"/>
  </li>
  <li>
    <img src="/test2.png"/>
  </li>
  <li>
    <img src="/test3.png"/>
  </li>
  <li>
    <img src="/test4.png"/>
  </li>
  <li>
    <img src="/test5.png"/>
  </li>
  <li>
    <img src="/test6.png"/>
  </li>
</AstroCarousel>